# Mac
.DS_Store

# IDE
.idea/
.vs/
icons/\!dox/

coverage
dist/
foundryconfig.json
node_modules/
package/
packs-temp/
json-assets/
types/foundry/node_modules/
types/foundry/package-lock.json

# Dummy files for vite dev server
/index.html
/styles/fvtt-module-dnd5e-spell-lists.css
/fvtt-module-dnd5e-spell-lists.mjs
/vendor.mjs
