@layer modules {
    ul.spell-lists {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        text-transform: uppercase;
        font-weight: bold;

        .spell-list {
            flex: 1;
            padding: 0;
            line-height: 1;
            color: var(--color-text-secondary);
            cursor: var(--cursor-pointer);
            flex-grow: initial;
            padding: 0 5px;

            &:hover {
                text-shadow: 0 0 10px var(--color-shadow-primary);
            }

            &.active {
                color: var(--color-text-primary);
                text-shadow: none;
            }
        }
    }
}
