@layer modules {
    :root {
    }

    .spell-lists-container {
        display: grid;

        ul.spell-lists {
            margin: -10px 0;
            padding: 10px 0;
            list-style: none;

            display: flex;
            text-transform: uppercase;
            font-weight: bold;
            overflow-x: scroll;

            .spell-list {
                flex: 0 1 0;
                padding: 0 5px;
                margin: auto 0;
                line-height: 1;
                color: var(--color-text-secondary);
                cursor: var(--cursor-pointer);

                &:hover {
                    text-shadow: 0 0 10px var(--color-shadow-primary);
                }

                &.active {
                    color: var(--color-text-primary);
                    text-shadow: none;
                }

                &.add-spell-list {
                    color: var(--color-text-primary);
                }

                .list-name {
                    text-wrap: nowrap;
                }
            }
        }
    }
}
